<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script type="text/javascript" src="tryIf.js"></script>
</head>
<body>
<div ng-controller="myCtrl">
<form action="#" method="post">
usename : <input type="text" id=name ng-model="name" /><br>
password : <input type="password" id=password ng-model="password" /><br/><br/>
<button type="submit" onClick="submit()">Submit</button>

</form>
</div>

</body>
</html>